/* Success Page Container */
.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background: linear-gradient(145deg, #f3f9ff, #e3eef8);
  }
  
  /* Success Card */
  .success-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    /* width: 200%; */
  }
  
  .success-card h1 {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .success-card p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Button Container */
  .success-buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  /* Button Styles */
  .btn {
    padding: 12px 20px;
    background-color: #0077cc;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn:hover {
    background-color: #005fa3;
    transform: translateY(-3px);
  }
  
  .btn:active {
    transform: translateY(1px);
  }
  